@{ 
    var types = ViewData["types"] as IEnumerable<Movie.Models.BookingShowtime>;
}
<ul class="container_type--list">
    @foreach (var item in types)
    {
        <li class="Paracetamol" id="typeOf_@item.Id" data-type=@item.Type >
            <span> @item.Type </span>
        </li>
    }
</ul>



