@model IEnumerable<Movie.Models.BookingShowtime>

@{
    var groupMovieTheaterName =
    from showtime in Model
    group showtime by showtime.MovieTheaterName into newGroup
    orderby newGroup.Key
    select newGroup;
}

<div class="container_cinema--list ">
    @foreach (var name in groupMovieTheaterName)
    {
        <div class="container_cinema--movie_theater">
            <h3>@name.Key</h3>
        </div>

        <ul class="container_cinema--showtimes">
            @foreach (var item in Model.Where(show => show.MovieTheaterName == name.Key))
            {
                <li>
                    <a href="@Url.Action("bookChairs","Home", new {idShowTime = item.Id})">
                        <span>@item.StartTime.ToString("h tt")</span>
                    </a>
                </li>
            }
        </ul>
    }
</div>

