@{ 
    var showDays = ViewData["showDays"] as IEnumerable<Movie.Models.BookingShowtime>;
}

<ul class="container_date--list">
    @foreach (var item in showDays)
    {
        <li class="Paracetamol" id="dayOf_@item.Id" data-day=@item.StartTime>
            <div class="day">
                <span>@item.StartTime.ToString("MM")</span>
                <em>@item.StartTime.ToString("ddd")</em>
                <strong>@item.StartTime.ToString("dd")</strong>
            </div>
        </li>
    }
</ul>
