@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowtimeBooking</title>
    <link rel="stylesheet" href="~/Asset/css/showtime_booking.css" />
</head>
<body>

    <div class="container">
        <div class="container_date">
            @RenderPage("Shared/_ContainerDay.cshtml")
        </div>

        <div class="container_city">
            @RenderPage("Shared/_ContainerCity.cshtml")
        </div>

        <div class="container_type">
            @RenderPage("Shared/_ContainerType.cshtml")
        </div>

        <div class="container_cinema">
            @RenderPage("Shared/_ContainerCinema.cshtml")
        </div>
    </div>

</body>
</html>
