@{

}

@section scripts{
    <script src="~/Asset/js/ShowtimeBooking_Scripts.js"> </script>    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowtimeBooking</title>
    <link rel="stylesheet" href="~/Asset/css/showtime_booking.css" />

</head>
<body>
    <input hidden value="" />
    <div class="container">
        <div class="container_date">
            @Html.Partial("_ContainerDay")
        </div>

        <div class="container_city">
            @Html.Partial("_ContainerCity")
        </div>

        <div class="container_type">
            @Html.Partial("_ContainerType")
        </div>

        <div class="container_cinema">
        </div>
    </div>

</body>


</html>
