
@{
    ViewBag.Title = "test";
}
<head>
    <link href="~/Asset/css/ticketBooking.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>

<div class="showtime-info">
    <a class = "button back-btn" @Url.Action("", new { })>
        <i class="fa-arrow-left">
            <span> <strong> QUAY LẠI </strong> </span>
        </i>
    </a>
   
    <div class="showtime-info--image">
        <img src="https://upload.wikimedia.org/wikipedia/vi/b/b0/Avatar-Teaser-Poster.jpg"
             alt="Đây là ảnh phim" />
    </div>

    <div class="showtime-info--detail">
        <span class="showtime-info--movie_name"> Breaking bad </span>
        <span class="showtime-info--type"> Định dạng: 2D </span>
    </div>

    <div class="showtime-info--place">
        <span class="showtime-info--movie_theater_name"> Rạp: CGV Hà Đông </span>
        <span class="showtime-info--start_time"> Suất chiếu: 23:30, 30/03/2034 </span>
        <span class="showtime-info--room_name"> Phòng chiếu: phim ST25 </span>
    </div>

    <div class="showtime-info--price"> Tổng: 300,000 </div>
    <a class="button next-btn" @Url.Action("BookTicket", new { })>
        <i class="fa-arrow-right" title="ĐẶT VÉ">
            <span> <strong> ĐẶT VÉ </strong> </span>
        </i>
    </a>
</div>

