@{ 
    var cities = ViewData["cities"] as IEnumerable<Movie.Models.BookingShowtime>;
}


<ul class="container_city--list">
    @foreach (var item in cities)
    {
        <li onclick="">
            <span> @item.City </span>
        </li>
    }
</ul>

