@{ 
    var types = ViewData["type"] as IEnumerable<Movie.Models.BookingShowtime>;
}
<ul class="container_type--list">
    @foreach (var item in ViewBag.types)
    {
        <li onclick="">
            <span> @item.Type </span>
        </li>
    }
</ul>



