<div class="container_showtime--site">
    <h3>CGV Vivo City</h3>
</div>
<div class="container_showtime--cinema">
    <h4>Rạp STARIUM</h4>
</div>
<ul class="container_showtime--list">
    <li>
        <a href="#">
            <span>12:10 PM</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>12:10 PM</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>12:10 PM</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>12:10 PM</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>12:10 PM</span>
        </a>
    </li>
</ul>
