@model IEnumerable<Movie.Models.BookingShowtime>

<ul class="container_type--list">
    <li>
        <span> 2D Phụ Đề Việt </span>
    </li>
    <li>
        <span> 2D Phụ Đề Việt </span>
    </li>
    <li>
        <span> 2D Phụ Đề Việt </span>
    </li>
    <li>
        <span> 2D Phụ Đề Việt </span>
    </li>
</ul>


