
<ul class="container_date--list">

    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    <li>
        <div class="day">
            <span>03</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
</ul>


