<ul class="container_city--list">
    <li>
        <span> Hồ Chí Minh </span>
    </li>
    <li>
        <span> Hồ Chí Minh </span>
    </li>
    <li>
        <span> Hồ Chí Minh </span>
    </li>
    <li>
        <span> Hồ Chí Minh </span>
    </li>
    <li>
        <span> Hồ Chí Minh </span>
    </li>
</ul>

