
@model IEnumerable<Movie.Models.BookingShowtime>

<ul class="container_date--list">
    @foreach(var item in Model)
    { 
    <li>
        <div class="day">
            <span>@item.startTime</span>
            <em>Wed</em>
            <strong>22</strong>
        </div>
    </li>
    }
</ul>


